
@media only screen and (max-width: 600px) {
    .error-image {
        margin-left: 10px;
        width: 800px;
        margin-top: 100px;
        
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) Ipad air and Ipad mini*/
  @media only screen and (min-width: 600px) {
    .error-image {
        margin-left: 10px;
        width: 800px;
        margin-top: 150px;
        
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .error-image {
        margin-left: 10px;
        width: 800px;
        margin-top: 100px;
        
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .error-image {
        margin-left: 10px;
        width: 800px;
        margin-top: 10px;
        
    }
  } 
  
